$mainColor: #039dff;
$white: #ffffff;
$heroGradient: linear-gradient(
  45deg,
  rgba(59, 61, 66, 0.779),
  rgba(24, 24, 24, 0.75)
);
$light-gray: #ddd;
$bg-color: #ebecf2;
$underline-second: #c7c7c7;
